body {
    font-size: 2rem;
    padding: 1rem;
    background-color: #17e6b7;
  }
  
  .parent{
    border:2px solid black;
    padding:2rem;
  }

  .child {
    background: rgb(133, 195, 197);
    display: grid;
    justify-content: center;
    border: 20px solid #bbb;
    padding: 1rem;
  }
  .grandchild{
    
    text-align: center;
  }

  .links{
    text-align: center;
  }

